<div class="containeur">
  <div class="row">
    <div class="col-md-1 menu">
      <app-principale-menue></app-principale-menue>
    </div>
    <div class="col-md-10 content">
      <div class="section">
        <div class="section-entete">
          <span class="user">
            <img src="images/equipe/toky.png" alt="">
            mon comte
             <span> FR</span>
           </span>


          <h1>Titre</h1>
        </div>
        <div class ="content">
          <router-outlet></router-outlet>
        </div>
        <div class="controle">
          <app-bottom-controle></app-bottom-controle>
        </div>

      </div>

    </div>
    <div class="section-footer">
      voici un footer
    </div>
  </div>
</div>

