<div class="contenu">
  <div class="container row">
    <div class="list ">
      <div class="list-group" >
        companies
      <a  class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let c of companies">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{c.name}}</h5>
          <small class="text-muted"  (click)="select(c.id)"> Select </small>
        </div>
        <p class="mb-1">{{c.slogan}}</p>
        <small class="text-muted">{{c.description}}</small>
      </a>

    </div>
    </div>
    <div class="details row" id="details">
      <div class="col-md-6 company-details">
        <h2>Informations sur l'Entreprise</h2>
        <p><strong>Nom de l'Entreprise:</strong> {{company.name}}</p>
        <p><strong>Adresse:</strong> company.address</p>
        <p><strong>Numéro de Téléphone:</strong> company.contact</p>
        <p *ngFor="let p of postes"><strong>{{p.poste}}: </strong>{{p.userApp.firstname}} {{p.userApp.lastname}}</p>
      </div>
      <div class="col-md-6 company-details">
        <h2>Formation :  </h2>
        <p *ngFor="let f of formations"><strong>{{f.name}}: </strong>{{f.description}} {{f.address}}</p>

      </div>
      <small class="text-muted"  (click)="edit(company)"> Editer </small>

    </div>

  </div>


</div>

