/* dialog.component.css */
.mat-toolbar {
  color: #009688;
  background-color: rgba(255,255,255,0);

}
.mat-toolbar-tools{
  width:100%;
}
.sidebar-hedingd{
  min-height: 300px;
}
.mat-card {
  margin: 16px;
  padding: 16px;
}

.mat-tab-group {
  margin: 16px;
}

.mat-form-field {
  width: 100%;
}

.d100 {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.col-md-3,
.col-md-5,
.col-md-8,
.col-md-12 {
  flex: 1;
  padding: 8px;
}

.img {
  max-width: 100%;
}

.mat-dialog-actions {
  justify-content: flex-end;
  margin: 16px;
}

/* Add more styles as needed */
