<p>students </p>
<div class="main">
  <div *ngIf="error">
     <p> Error : {{error}}</p>
  </div>


  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="students-container" *ngIf="students">
        <div ngbAccordion>
          <div ngbAccordionItem  *ngFor="let s of students">
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton>
            <span class ="studet-name"> {{s.username}}
            </span>
                <span class ="studet-cin">{{s.firstname}} </span>
              </button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <p class ="studet-name"> {{s.username}}
                </p>
                <p class ="studet-name"> {{s.lastname}}
                </p>
                <p class ="studet-name"> {{s.contact}}
                </p>
                <p class ="studet-name"> {{s.cin}}
                </p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
    <div class="col-md-4">.col-md-4</div>

  </div>
